<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-default navbar-static-top">
    <div>
        <span th:text="#{username.label}"></span>
        <span sec:authentication="name">Name</span>
    </div>
    <div class="container-fluid">
            <ol class="nav navbar-nav">
                <li><a href="index.html" th:href="@{/}">Home</a></li>
                <li><a href="about.html" th:href="@{/about(lang='de')}">About</a></li>
                <li><a href="city.html" th:href="@{/city}">City</a></li>
                <li><a href="country.html" th:href="@{/country}">Country</a></li>
            </ol>
            <a th:href="@{/logout}">Sign Out</a>
        </div>
</nav>
</body>
</html>