<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Spring Boot Thymeleaf</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="fragments/header :: header">

</div>

<h1>City List</h1>
<a href="addCity">Add City</a>
<br/><br/>
<div>
	<a th:href="@{/logout}">Sign Out</a>


	<div sec:authentication="name"></div>
	<table th:if="${not #lists.isEmpty(cities)}" border="1">
		<tr>
			<th th:text="${cityId}">Name</th>
			<th>Population</th>
		</tr>
		<tr th:each ="city : ${cities}">
			<td th:utext="${city.name}">...</td>
			<td th:utext="${city.population}">...</td>
		</tr>
	</table>
</div>
</body>
</html>